# Google Cloud Configuration
PROJECT_ID=your-gcp-project-id
REGION=asia-southeast1

# Google Cloud Storage
GCS_BUCKET=your-gcp-project-id-lakehouse

# Pub/Sub Configuration
SUBSCRIPTION_ID=ecommerce-events-sub

# Authentication
SERVICE_ACCOUNT_NAME=elt-pipeline-sa
GOOGLE_APPLICATION_CREDENTIALS=/path/to/your-service-account-key.json

# Environment
PIPELINE_ENV=gcs
